%section{'ng-controller' => "EventsController"}
  / START Page content
  .content-wrapper
    %h3
      Dashboard
      - if current_user.present? && current_user.has_role?(:admin) || true
        .pull-right
          %a.btn.btn-sm.btn-info{:href => "/events/new"} New Event
    .row
      / START dashboard main content
      %section.col-md-12
        / START chart
        .row{'ng-repeat' => 'event in requestControl.events', 'ng-if' => 'requestControl.events.length > 0'}
          .panel.panel-default
            .panel-heading
              .panel-title {{event.name}}
            .list-group
              .list-group-item
                .media
                  .pull-left
                    %span.fa-stack.fa-lg
                      %em.fa.fa-circle.fa-stack-2x.text-purple
                      %em.fa.fa-pencil-square-o.fa-stack-1x.fa-inverse.text-white
                  .media-body.clearfix
                    %table.table.table-striped.table-bordered.table-hover
                      %thead
                        %tr
                          %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                            %strong RSO
                          %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                            %strong Date
                          %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                            %strong Start Time
                          %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                            %strong End Time
                          %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                            %strong Location
                          %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                            %strong Description
                          %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}

                      %tbody
                        %tr
                          %td.text-center
                            %button.btn.btn-link.make-black
                              {{event.organization_name}}
                          %td.text-center
                            %button.btn.btn-link.make-black
                              {{event.date}}
                          %td.text-center
                            %button.btn.btn-link.make-black
                              {{event.start_time}}
                          %td.text-center
                            %button.btn.btn-link.make-black
                              {{event.end_time}}
                          %td.text-center
                            %button.btn.btn-link.make-black
                              {{event.city}}
                          %td.text-center
                            %button.btn.btn-link.make-black
                              {{ event.description | limitTo: 20 }}{{event.description.length > 20 ? '...' : ''}}
                          %td.text-center
                            %a.btn.btn-xs.btn-success{'ng-href' => "/events/{{event.event_id}}"} Details


            .panel-footer.clearfix
              #accordian
                %a.pull-left.collapsed{:style => 'margin-left: 15px;', "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_{{event.event_id}}"}
                  %em.fa.fa-comment-o
                  %small{'ng-if' => 'event.comments.length === 0'} Comment
                  %small{'ng-if' => 'event.comments.length > 0'} Comment ({{event.comments.length}})
            #collapse.panel-collapse.collapse{:style => "height: 0px;", :id => "{{event.event_id}}"}
              .panel-footer.clearfix
                .list-group
                  .list-group-item{'ng-repeat' => 'comment in event.comments'}
                    .media
                      .pull-left
                        %span.fa-stack.fa-lg
                          %em.fa.fa-circle.fa-stack-2x.text-purple
                          %em.fa.fa-cloud-upload.fa-stack-1x.fa-inverse.text-white
                      .media-body.clearfix
                        %p.m0
                          %button.btn.btn-xs{'ng-if' => 'comment.rating !== 1', 'ng-click' => 'comment.rating = 1'} 1
                          %button.btn.btn-xs.btn-danger{'ng-if' => 'comment.rating === 1'} 1

                          %button.btn.btn-xs{'ng-if' => 'comment.rating !== 2', 'ng-click' => 'comment.rating = 2'} 2
                          %button.btn.btn-xs.btn-danger{'ng-if' => 'comment.rating === 2'} 2

                          %button.btn.btn-xs{'ng-if' => 'comment.rating !== 3', 'ng-click' => 'comment.rating = 3'} 3
                          %button.btn.btn-xs.btn-danger{'ng-if' => 'comment.rating === 3'} 3

                          %button.btn.btn-xs{'ng-if' => 'comment.rating !== 4', 'ng-click' => 'comment.rating = 4'} 4
                          %button.btn.btn-xs.btn-danger{'ng-if' => 'comment.rating === 4'} 4

                          %button.btn.btn-xs{'ng-if' => 'comment.rating !== 5', 'ng-click' => 'comment.rating = 5'} 5
                          %button.btn.btn-xs.btn-danger{'ng-if' => 'comment.rating === 5'} 5
                          %a.btn-link.pull-right
                            %i.fa.fa-angle-up
                        %br
                        %p by {{comment.user.full_name}} on {{comment.post_date}}
                        %p.m0
                          %small
                            {{comment.text}}                       
                        / .media-heading.text-purple.m0 {{comment.text}}
                        %small.text-muted.pull-right {{comment.post_time}}

                %form
                  .form-group
                    %p
                      %label.label-control Rating
                      %br
                      %button.btn.btn-xs{'ng-if' => 'requestControl.rating !== 1', 'ng-click' => 'requestControl.rating = 1'} 1
                      %button.btn.btn-xs.btn-danger{'ng-if' => 'requestControl.rating === 1'} 1

                      %button.btn.btn-xs{'ng-if' => 'requestControl.rating !== 2', 'ng-click' => 'requestControl.rating = 2'} 2
                      %button.btn.btn-xs.btn-danger{'ng-if' => 'requestControl.rating === 2'} 2

                      %button.btn.btn-xs{'ng-if' => 'requestControl.rating !== 3', 'ng-click' => 'requestControl.rating = 3'} 3
                      %button.btn.btn-xs.btn-danger{'ng-if' => 'requestControl.rating === 3'} 3

                      %button.btn.btn-xs{'ng-if' => 'requestControl.rating !== 4', 'ng-click' => 'requestControl.rating = 4'} 4
                      %button.btn.btn-xs.btn-danger{'ng-if' => 'requestControl.rating === 4'} 4

                      %button.btn.btn-xs{'ng-if' => 'requestControl.rating !== 5', 'ng-click' => 'requestControl.rating = 5'} 5
                      %button.btn.btn-xs.btn-danger{'ng-if' => 'requestControl.rating === 5'} 5

                    %br
                    %p
                      %input.form-control.input-sm{:placeholder => "Enter a comment...", 'ng-model' => 'requestControl.newComment'}
                  .form-actions
                    .pull-right
                      %button.btn.btn-xs.btn-success{'ng-click' => 'requestControl.createEventComment($index)'} Submit

        .row{'ng-if' => 'requestControl.events.length === 0'}
          %table.table
            %tbody
              %tr
                %td
                  %button.btn.btn-link There are currently no scheduled events that are avaiable to you.

    / .row
    /   / START dashboard main content
    /   %section.col-md-12
    /     / START chart
    /     .row
    /       .content
    /         .col-md-12
    /           .panel
    /             .panel-heading
    /               %h4
    /                 Upcoming Events
    /             .panel-body
    /               .viewcode-example
    /                 .table-responsive
    /                   %div{'ng-if' => 'requestControl.events.length > 0 && loaderControl.isLoading === false'}
    /                     %table.table.table-striped.table-bordered.table-hover
    /                       %thead
    /                         %tr
    /                           %th.text-center
    /                             %strong Name
    /                           %th.text-center
    /                             %strong Description
    /                           %th.text-center

    /                       %tbody
    /                         %tr{'ng-repeat' => 'event in requestControl.events'}
    /                           %td.text-center
    /                             %button.btn.btn-link.make-black
    /                               {{event.name}}
    /                           %td.text-center
    /                             %button.btn.btn-link.make-black
    /                               {{event.description}}
    /                           %td.text-center
    /                             %a.btn.btn-xs.btn-warning{'ng-href' => "/events/{{event.event_id}}/edit"} Edit

    /                     .span
    /                       .pull-right
    /                         .pagination-wrapper
    /                           %ul.pagination
    /                             %li{ 'ng-repeat' => 'page in requestControl.pagination.relevant_pages', 'ng-class' => "{active: page == requestControl.current_page}" }
    /                               %a.btn{ 'ng-show' => '$first && requestControl.current_page != page', 'ng-click' => "requestControl.changePage(page)" } &lt;&lt;

    /                               %a.btn.disabled{ 'ng-show' => '$index > 0 && (page - requestControl.pagination.relevant_pages[$index-1]) > 1' } ...

    /                               %a.btn{ 'ng-click' => "requestControl.changePage(page)" }
    /                                 {{ page }}
    /                               %a.btn{ 'ng-show' => '$last && requestControl.current_page!=page', 'ng-click' => "requestControl.changePage(page)" } &gt;&gt;

    /                   %div{'ng-if' => 'requestControl.events.length === 0 && loaderControl.isLoading === false'}
    /                     %h4 Currently, there are no events.

    /                   %div{'ng-if' => 'loaderControl.isLoading === true'}
    /                     .loader-css
    /                       .load-container.load8
    /                         .loader
    /                           Loading...
    /                       %h5 Fetching Events...

    /                 %a.btn-view-code{:href => "javascript:;", :style => "display: none;"}
    /                   %i.fa.fa-code


