%section{'ng-controller' => "OrganizationsController"}
  / START Page content

  = hidden_field_tag :user_id, current_user.id

  .content-wrapper
    %h3
      RSOs
      - if current_user.present? && current_user.has_role?(:student)
        .pull-right
          %a.btn.btn-sm.btn-info{:href => "/organizations/new"} New RSO
    .row
      / START dashboard main content
      %section.col-md-12
        / START chart
        .row
          .content
            .col-md-12
              .panel
                .panel-body
                  .viewcode-example
                    .table-responsive
                      %div{'ng-if' => 'requestControl.organizations.length > 0 && loaderControl.isLoading === false'}
                        %table.table.table-striped.table-bordered.table-hover
                          %thead
                            %tr
                              %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                                %strong Name
                              %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                                %strong University
                              %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                                %strong RSO Type
                              %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                                %strong Description
                              %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                                %strong Admin
                              %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                                %strong Members
                              %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center;"}
                                %strong Active?
                              %th{:bgcolor => "#464368", :style => "color: #FFF; text-align: center; width: 25%;"}

                          %tbody
                            %tr{'ng-repeat' => 'organization in requestControl.organizations'}
                              %td.text-center
                                %button.btn.btn-link.make-black
                                  {{organization.name}}
                              %td.text-center
                                %button.btn.btn-link.make-black
                                  {{organization.university_name}}
                              %td.text-center
                                %button.btn.btn-link.make-black
                                  {{organization.organization_type}}
                              %td.text-center
                                %button.btn.btn-link.make-black
                                  {{organization.description}}
                              %td.text-center
                                %button.btn.btn-link.make-black
                                  {{organization.admin_name}}
                              %td.text-center
                                %button.btn.btn-link.make-black
                                  {{organization.user_count}}
                              %td.text-center
                                %button.btn.btn-link.make-black
                                  {{organization.is_active}}
                              %td.text-center{:style => "width: 25%;"}
                                .btn-group
                                  %a.btn.btn-xs.btn-info{'ng-href' => "/organizations/{{organization.organization_id}}"} Details
                                  %a.btn.btn-xs.btn-success{:href => '', 'ng-if' => 'organization.user_is_member === false', 'ng-click' => 'requestControl.joinOrganization(organization.organization_id, $index)'} Join
                                  %a.btn.btn-xs.btn-warning{'ng-href' => "/organizations/{{organization.organization_id}}/edit", 'ng-if' => "organization.admin_id === requestControl.current_user_id"} Edit

                        .span
                          .pull-right
                            .pagination-wrapper
                              %ul.pagination
                                %li{ 'ng-repeat' => 'page in requestControl.pagination.relevant_pages', 'ng-class' => "{active: page == requestControl.current_page}" }
                                  %a.btn{ 'ng-show' => '$first && requestControl.current_page != page', 'ng-click' => "requestControl.changePage(page)" } &lt;&lt;

                                  %a.btn.disabled{ 'ng-show' => '$index > 0 && (page - requestControl.pagination.relevant_pages[$index-1]) > 1' } ...

                                  %a.btn{ 'ng-click' => "requestControl.changePage(page)" }
                                    {{ page }}
                                  %a.btn{ 'ng-show' => '$last && requestControl.current_page!=page', 'ng-click' => "requestControl.changePage(page)" } &gt;&gt;

                      %div{'ng-if' => 'requestControl.organizations.length === 0 && loaderControl.isLoading === false'}
                        - if current_user.present? && current_user.has_role?(:student)
                          %a{:href => "/organizations/new"}
                            %h4 Currently, there are no organizations
                        - else
                          %h4 Currently, there are no organizations.

                      %div{'ng-if' => 'loaderControl.isLoading === true'}
                        .loader-css
                          .load-container.load8
                            .loader
                              Loading...
                          %h5 Fetching Organizations...

                    %a.btn-view-code{:href => "javascript:;", :style => "display: none;"}
                      %i.fa.fa-code


